body{
    background-color: bisque;
}
.game-container{
    width: 400px;
    height: 400px;
    background-color: rgb(219, 221, 99);
    /* border: 1.5px solid black; */
}
#player{
    height: 40px;
    width: 40px;
    background-color: red;
    position: absolute;
}

.obstacol{
    height: 20px;
    width: 20px;
    background-color: blue;
    position: absolute;
}

.enemy{
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
}

.vieti {
    width: 150px;
    height: 40px;
    top: 40px;
    position: relative;
}
